body{
  color: white;
  background-color: #292c33;
}
table{
  margin: auto;
}
td{
  background-color: white;
  width: 30px;
  height: 30px;
  padding: 25px;
}
.valid{
  background-color: lightblue;
}
.red{
  background-size: 80px;
  background-image: url('/assets/red.png');
  background-repeat: no-repeat;
}
.black{
  background-size: 80px;
  background-image: url('/assets/black.png');
  background-repeat: no-repeat;
}
.active{
  background-color: gray;
}
.selected{
  background-color: pink;
}
//.redActive{
  //background-image: url('/assets/red.jpeg');
  //background-size: 45px;
//}
